<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d042921a-4728-4796-a714-8eb396d00663/resourceGroups/contososports-01/providers/Microsoft.Web/sites/contosocallcenterapp-343349</ResourceId>
    <ResourceGroup>contososports-01</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://contosocallcenterapp-343349.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://contosocallcenterapp-343349.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>4cd8ff66-4d8d-4bef-947f-447a371112f2</ProjectGuid>
    <MSDeployServiceURL>waws-prod-bay-143.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>contosocallcenterapp-343349</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$contosocallcenterapp-343349</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>